@use '../common/variables.scss' as *;

.battle {
  display: none;
  padding-top: 150px;
  height: 100vh;
  background-image: url('../../assets/images/battle-bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.battle .container {
  height: 100%;
}

.battle__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  height: 100%;
}

.battle__panel {
  display: flex;
  justify-content: space-between;
}

.battle__avatar {
  max-width: 300px;
  width: 100%;
}

.battle__avatar-image-wrapper {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba($color: $color-theme, $alpha: 0.15),
    0 3px 6px rgba($color: $color-theme, $alpha: 0.25);
}

.battle__avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.battle__avatar-name {
  font-size: 32px;
  margin-top: 10px;
  text-align: center;
}

.battle__avatar-name--character {
  color: $wins-color;
}

.battle__avatar-name--enemy {
  color: $loses-color;
}

.battle__avatar-health {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  font-size: 36px;
  text-align: center;
  border: 1px solid $color-theme;
}

.battle__avatar-health-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 100;
}
.battle__avatar-health-bar-current {
}
.battle__avatar-health-bar-total {
}

.battle__avatar-health-bg {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background: $health-color;
}

.battle__controls {
}

.battle__controls-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.battle__controls-zone {
  position: relative;
  display: flex;
  justify-content: space-between;
  // justify-content: space-between;
  max-width: 600px;
  gap: 50px;
  // width: 100%;
}

.battle__controls-zone:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px;
  background: $color-theme;
}

.battle__controls-zone-attack {
  display: flex;
  gap: 10px;
  max-width: 240px;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.battle__controls-zone-title-attack {
  color: $loses-color;
  text-decoration: underline;
}

.battle__controls-zone-title-defence {
  color: $defence-color;
  text-decoration: underline;
}

.battle__controls-zone-title {
  margin-bottom: 20px;
  font-size: 28px;
}

.battle__controls-zone-radio {
  // max-width: 130px;
  // width: 100%;
  display: flex;
  justify-content: space-between;
}

.battle__controls-zone-radio-label {
  cursor: pointer;
  font-size: 36px;
  position: relative;
  text-decoration: underline;
  // width: 120px;
}

.battle__controls-zone-radio-label:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: $color-theme;
  z-index: 10;
}

.battle__controls-zone-radio-label:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  opacity: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.battle__controls-zone-attack .battle__controls-zone-radio-label:before {
  right: -30px;
}

.battle__controls-zone-attack .battle__controls-zone-radio-label:after {
  background-image: url('../../assets/icons/sword.svg');
  right: -30px;
}

.battle__controls-zone-defence .battle__controls-zone-radio-label:before {
  left: -30px;
}

.battle__controls-zone-defence .battle__controls-zone-radio-label:after {
  background-image: url('../../assets/icons/shield.svg');
  left: -30px;
}

.battle__controls-zone-radio-input {
  width: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  height: 0;
}

.battle__controls-zone-attack
  .battle__controls-zone-radio-input:checked
  + .battle__controls-zone-radio-label {
  color: $loses-color;
}

.battle__controls-zone-defence
  .battle__controls-zone-radio-input:checked
  + .battle__controls-zone-radio-label {
  color: $defence-color;
}

.battle__controls-zone-attack
  .battle__controls-zone-radio-input:checked
  + .battle__controls-zone-radio-label:after {
  opacity: 1;
}

.battle__controls-zone-defence
  .battle__controls-zone-radio-input:checked
  + .battle__controls-zone-radio-label:after {
  opacity: 1;
}

.battle__controls-zone-defence {
  display: flex;
  max-width: 240px;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.battle__controls-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 32px;
  text-transform: none;
}

.battle__log {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  height: 30vh;
  min-height: 150px;
  flex-shrink: 0;
  overflow-y: auto;
  margin-top: auto;
  padding: 20px;
  border: 1px solid $color-theme;
  font-size: 32px;
  box-shadow: 0 3px 6px rgba($color: $color-theme, $alpha: 0.15),
    0 3px 6px rgba($color: $color-theme, $alpha: 0.25);
}

.battle__log-item {
  padding-bottom: 10px;
  border-bottom: 1px solid $color-theme;
}

.battle__log-item-character {
  color: $wins-color;
}

.battle__log-item-span {
  text-decoration: underline;
}

.battle__log-item-enemy {
  color: $loses-color;
}

.battle__log-item-zone {
  color: $loses-color;
}
