@use '../common/variables.scss' as *;

.register {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/images/register-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
}

.black-overlay:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba($color: $bg-theme, $alpha: 0.75);
}

.register__container {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  background: $bg-theme;
  box-shadow: 0 3px 6px rgba($color: $color-theme, $alpha: 0.15),
    0 3px 6px rgba($color: $color-theme, $alpha: 0.25);
  transition: all 0.3s ease;
  border: 1px solid $color-theme;
}

.register__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
  border-radius: 4px;
}

.register__title {
  margin-bottom: 25px;
}

.register__input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.register__input-label {
  font-size: 24px;
}

.register__input {
}

.register__btn {
  margin-top: 25px;
  position: relative;
  padding-right: 35px;
}

.register__btn:after {
  content: '';
  background-image: url('../../assets/icons/ring.svg');
  background-size: cover;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

@media (hover: hover) {
  .register__container:hover {
    box-shadow: 0 10px 20px rgba($color: $color-theme, $alpha: 0.2),
      0 6px 6px rgba($color: $color-theme, $alpha: 0.25);
  }
}
