.settings {
  padding-top: 150px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/settings-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
}
.container {
}

.settings__inner {
}
.settings__change-name {
  display: flex;
  align-items: center;
  // max-width: 400px;
  width: 100%;
  gap: 20px;
}

.settings__change-name__input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: fit-content;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
}

.input-wrapper {
}

.settings__change-name__input-label {
  font-size: 32px;
  width: 100%;
  max-width: fit-content;
  flex-shrink: 0;
  word-break: keep-all;
}

.settings__change-name__input {
  display: none;
  max-width: 300px;
  width: 100%;
}

.settings__change-name__current-name {
  font-size: 42px;
  text-decoration: underline;
}

.settings__change-name-btn {
}
.btn {
}

.settings__change-name--active {
  .settings__change-name__input {
    display: block;
  }

  .settings__change-name__current-name {
    display: none;
  }
}
