@use 'normalize.css/normalize.css';
@use './common/fonts.scss';
@use './common/variables.scss' as *;
@use './common/base.scss';
@use './blocks/register';

body {
  font-family: $fontFamily;
  background: $bg-theme;
  color: $color-theme;
}
