<section class="register overlay" data-screen="register">
  <div class="register__container overlay-container">
    <img src="./assets/images/register_frodo.jpg" alt="Image" class="register__img">
    <h2 class="register__title title">Create your character</h2>
    <div class="register__input-wrapper input-wrapper">
      <label for="register_input" class="register__input-label input-label">Character Name</label>
      <input type="text" class="register__input input" id="register_input" placeholder="Frodo Baggins"
        data-register_input>
    </div>
    <button class="register__btn btn btn--ring-icon" data-link="/home" data-sound="click" data-register_btn disabled>Create
      Character</button>
  </div>
</section>