@font-face {
  font-family: 'Forum';
  src: url('../../assets/fonts/Forum-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Forum-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoogleSansCode';
  src: url('../../assets/fonts/GoogleSansCode-Regular.woff2') format('woff2'),
    url('../../assets/fonts/GoogleSansCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoogleSansCode';
  src: url('../../assets/fonts/GoogleSansCode-Bold.woff2') format('woff2'),
    url('../../assets/fonts/GoogleSansCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
