$fontFamily: 'GoogleSansCode', sans-serif;
$secondFamily: 'Forum', sans-serif;

$bg-theme: #111;
$color-theme: #fff;
// $bg-theme: #fff;
// $color-theme: #000;

$wins-color: #6b8143;
$loses-color: #9e1e1e;
$health-color: #8c2e2e;
$defence-color: #3a4466;
